GOOGLE_GENAI_USE_VERTEXAI=0

# Google ADK API Key (required for Gemini model)
GOOGLE_API_KEY=

# Mem0 API Key (required for persistent memory)
MEM0_API_KEY=

# Postgres DB credentials
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
